@model ArticleTitleMediaComponent
@if (Model != null)
{
    <article class="post post-medium border-0 pb-0 mb-3">
        <div class="card card-background-image-hover border-0" style="background-image: url(@Model.Media);">
            <div class="card-body text-center p-5">
                @*   <i class="icon-layers icons text-color-primary text-10"></i> *@
                <a href="@Model.Href" class="text-decoration-none ellipsis ellipsis-line-clamp-2"><h4 class="text-4 font-weight-medium font-alternative text-transform-none text-color-hover-primary line-height-3 mb-0">@Model.Title</h4></a>
                <p class="card-text ellipsis ellipsis-line-clamp-3">@Model.ShortDescription</p>
                <a href="@Model.Href" class="btn btn-dark btn-modern">Xem thêm</a>
            </div>
        </div>
    </article>


}