@model ArticleTitleMediaComponent
@if (Model != null)
{
    <article class="post">
        <div class="card rounded-3 border-0 bg-transparent box-shadow-10 box-shadow-1 box-shadow-1-hover anim-hover-translate-top-10px transition-3ms">
            <div class="p-relative rounded-3 overflow-hidden">
                <a href="blog-post.html" class="text-decoration-none">
                    <img class="card-img-top" src="@Model.Media" alt="@Model.Title">
                </a>
                <div class="card-body bg-light p-4">
                    <h4 class="my-2"><a href="@Model.Href" class="text-decoration-none ellipsis ellipsis-line-clamp-2">@Model.Title</a></h4>
                    <p class="card-text  ellipsis ellipsis-line-clamp-3">@Model.Description</p>
                </div>
            </div>
        </div>
    </article>
}