@model BreadcrumbComponent
@if (Model != null)
{
    <section class="page-header page-header-modern bg-color-grey page-header-md">
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                    @if (Model.Title?.HasValueString() == true)
                    {
                        <h1 class="text-dark">@Model.Title</h1>
                    }
                    @if (Model.Description?.HasValueString() == true)
                    {
                        <span class="sub-title text-dark">@Model.Description</span>
                    }
                </div>
                @if (Model.Links?.Any() == true)
                {
                    var count = Model.Links.Count;
                    <div class="col-md-4 order-1 order-md-2 align-self-center">
                        <ul class="breadcrumb d-block text-md-end">
                            @for (int i = 0; i < count; i++)
                            {
                                if (i + 1 == count && Model.LastIsSpan == true)
                                {
                                    <li class="active"><a class="text-color-default text-color-hover-primary text-decoration-none" href="@Model.Links[i].Href">@Model.Links[i].Title</a></li>
                                }
                                else
                                {
                                    <li>
                                        <a class="text-color-default text-color-hover-primary text-decoration-none" href="@Model.Links[i].Href">
                                            @if (i == 0)
                                            {
                                                <i class="fa fa-house"></i>
                                            }
                                            else
                                            {
                                                @Model.Links[i].Title
                                            }
                                        </a>
                                    </li>
                                }

                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </section>
}