@using static web_client.Helpers.Shared.PredefineDataConst
<!DOCTYPE html>
@inject ILayoutAppService _layout
@{
    var page = ViewData["Page"] as PageModel;
    var layoutData = await _layout.GetSystemConfigurationsAsync(new GetAllSystemConfigurationRequest());

    var slogan = _layout.GetSystemConfigurationValueLocal(layoutData?.Data, SystemConfigurationKeys.Key.Slogan, "Khuyến mãi 30% tất cả các sản phẩm nhân dịp 27/7");
    var slogan2 = _layout.GetSystemConfigurationValueLocal(layoutData?.Data, SystemConfigurationKeys.Key.Slogan2, "Học đi đôi với hành động");
    var phoneNumber = _layout.GetSystemConfigurationValueLocal(layoutData?.Data, SystemConfigurationKeys.Key.PhoneNumber, "0987654321");
    var email = _layout.GetSystemConfigurationValueLocal(layoutData?.Data, SystemConfigurationKeys.Key.Email, "support@gmail.com");

    var instagram = _layout.GetSystemConfigurationValueLocal(layoutData?.Data, SystemConfigurationKeys.Key.Instagram, "https://www.instagram.com");
    var facebook = _layout.GetSystemConfigurationValueLocal(layoutData?.Data, SystemConfigurationKeys.Key.Facebook, "https://www.facebook.com");
    var twitter = _layout.GetSystemConfigurationValueLocal(layoutData?.Data, SystemConfigurationKeys.Key.Twitter, "http://www.twitter.com");

    var footerDescription = _layout.GetSystemConfigurationValueLocal(layoutData?.Data, SystemConfigurationKeys.Key.FooterDescription, "Mô tả Chân Trang");
    var phoneNumberFooter = _layout.GetSystemConfigurationValueLocal(layoutData?.Data, SystemConfigurationKeys.Key.PhoneNumberFooter, "0987654321");
    var emailFooter = _layout.GetSystemConfigurationValueLocal(layoutData?.Data, SystemConfigurationKeys.Key.EmailFooter, "support@gmail.com");
    var copyrightFooter = _layout.GetSystemConfigurationValueLocal(layoutData?.Data, SystemConfigurationKeys.Key.CopyrightFooter, "© 2024 tên công ty All rights reserved. Mã số thuế: 2104509916 do Sở Kế Hoạch & Đầu Tư Hà Nội cấp lần đầu ngày 14/10/2010");
    var address = _layout.GetSystemConfigurationValueLocal(layoutData?.Data, SystemConfigurationKeys.Key.Address, "234 Street Name, City Name");

    var menu = await _layout.GetMenuTopAsync();
    var menuData = menu?.Data;
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(page?.Title)</title>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="@(page?.Keywords)" />
    <meta name="description" content=">@(page?.Description)">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400&display=swap" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="~/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" href="~/vendor/bootstrap-star-rating/css/star-rating.min.css">
    <link rel="stylesheet" href="~/vendor/bootstrap-star-rating/themes/krajee-fas/theme.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="~/css/theme-elements.css">
    <link rel="stylesheet" href="~/css/theme-blog.css">
    <link rel="stylesheet" href="~/css/theme-shop.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="~/css/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">
</head>
<body data-plugin-page-transition class="@(page?.BodyClassName)">
    <div class="body">
        <div class="notice-top-bar bg-primary" data-sticky-start-at="180">
            @*  <button class="hamburguer-btn hamburguer-btn-light notice-top-bar-close m-0 active" data-set-active="false">
                <span class="close">
                    <span></span>
                    <span></span>
                </span>
            </button> *@
            <div class="container">
                <div class="row justify-content-center py-2">
                    <div class="col-9 col-md-12 text-center">
                        <p class="text-color-light font-weight-semibold mb-0">@slogan</p>
                    </div>
                </div>
            </div>
        </div>
        <header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyStartAt': 135, 'stickySetTop': '-135px', 'stickyChangeLogo': true}">
            <div class="header-body header-body-bottom-border-fixed box-shadow-none border-top-0">
                <div class="header-top header-top-small-minheight header-top-simple-border-bottom">
                    <div class="container">
                        <div class="header-row justify-content-between">
                            <div class="header-column col-auto px-0">
                                <div class="header-row">
                                    <p class="font-weight-semibold text-1 mb-0 d-none d-sm-block d-md-none">@slogan2</p>
                                    <p class="font-weight-semibold text-1 mb-0 d-none d-md-block">@slogan2</p>
                                </div>
                            </div>
                            <div class="header-column justify-content-end col-auto px-0">
                                <div class="header-row">
                                    <nav class="header-nav-top">
                                        <ul class="nav nav-pills font-weight-semibold text-2">
                                            <li class="nav-item dropdown nav-item-left-border d-lg-none">
                                                <a class="nav-link text-color-default text-color-hover-primary" href="#" role="button" id="dropdownMobileMore" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Thông tin
                                                    <i class="fas fa-angle-down"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMobileMore">
                                                    <a class="dropdown-item" href="#">Chính sách</a>
                                                    <a class="dropdown-item" href="#">Câu hỏi thường gặp</a>
                                                    <a class="dropdown-item" href="#">Kiểm tra đơn hàng</a>
                                                </div>
                                            </li>
                                            <li class="nav-item d-none d-lg-inline-block">
                                                <a href="#" class="text-decoration-none text-color-default text-color-hover-primary">Chính sách</a>
                                            </li>
                                            <li class="nav-item d-none d-lg-inline-block">
                                                <a href="#" class="text-decoration-none text-color-default text-color-hover-primary">Câu hỏi thường gặp</a>
                                            </li>
                                            <li class="nav-item d-none d-lg-inline-block">
                                                <a href="#" class="text-decoration-none text-color-default text-color-hover-primary">Kiểm tra đơn hàng</a>
                                            </li>

                                        </ul>
                                        <ul class="header-social-icons social-icons social-icons-clean social-icons-icon-gray">
                                            <li class="social-icons-instagram">
                                                <a href="@instagram" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li class="social-icons-x">
                                                <a href="@twitter" target="_blank" title="X"><i class="fab fa-x-twitter"></i></a>
                                            </li>
                                            <li class="social-icons-facebook">
                                                <a href="@facebook" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                            </li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-container container">
                    <div class="header-row py-2">
                        <div class="header-column w-100">
                            <div class="header-row justify-content-between">
                                <div class="header-logo z-index-2 col-lg-2 px-0">
                                    <a href="/">
                                        <img alt="Porto" width="155" height="55" data-sticky-width="105" data-sticky-height="40" data-sticky-top="94" src="/img/logo-default-slim.png">
                                    </a>
                                </div>
                                <div class="header-nav-features header-nav-features-no-border p-relative z-index-2 col col-lg-4 col-xl-6 px-0 ms-0">
                                    <div class="header-nav-feature ps-lg-5 pe-2 pe-lg-4 me-4 me-lg-0">
                                        <form role="search" action="page-search-results.html" method="get">
                                            <div class="search-with-select">
                                                <a href="#" class="mobile-search-toggle-btn text-decoration-none" data-toggle-class="open">
                                                    <i class="icons icon-magnifier text-color-dark text-color-hover-primary"></i>
                                                </a>
                                                <div class="search-form-wrapper input-group">
                                                    <input class="form-control text-1" id="headerSearch" name="q" type="search" value="" placeholder="Từ khóa...">
                                                    <div class="search-form-select-wrapper">
                                                        @* <div class="custom-select-1 d-none d-lg-block">
                                                            <select name="category" class="form-control form-select">
                                                                <option value="all" selected>Danh mục</option>
                                                                <option value="fashion">Cảm biến</option>
                                                                <option value="electronics">Chuyển mạch/ Nút nhấn</option>
                                                                <option value="homegarden">Đèn báo</option>
                                                                <option value="motors">Đồng hồ đo</option>
                                                                <option value="features">Bộ điều khiển nhiệt độ</option>
                                                            </select>
                                                        </div> *@
                                                        <button class="btn" type="submit" aria-label="Search">
                                                            <i class="icons icon-magnifier header-nav-top-icon text-color-dark"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <ul class="header-extra-info col-auto col-lg-5 col-xl-4 ps-2 ps-xl-0 ms-lg-5 d-none d-lg-block">
                                    <li class="d-none d-sm-inline-flex ms-0">
                                        <div class="header-extra-info-icon ms-lg-4">
                                            <i class="icons icon-envelope text-3 text-color-dark position-relative top-1"></i>
                                        </div>
                                        <div class="header-extra-info-text">
                                            <label class="text-1 font-weight-semibold text-color-default">Email</label>
                                            <strong class="text-4"><a href="mailto:@email" class="text-color-hover-primary text-decoration-none">@email</a></strong>
                                        </div>
                                    </li>
                                </ul>
                                @*  <ul class="header-extra-info col-auto col-lg-3 col-xl-2 ps-2 ps-xl-0 ms-lg-3 d-none d-lg-block">
                                    <li class="d-none d-sm-inline-flex ms-0">
                                        <div class="header-extra-info-icon ms-lg-4">
                                            <i class="icons icon-envelope text-3 text-color-dark position-relative top-1"></i>
                                        </div>
                                        <div class="header-extra-info-text">
                                            <label class="text-1 font-weight-semibold text-color-default">Email</label>
                                            <strong class="text-4"><a href="mailto:support@gmail.com" class="text-color-hover-primary text-decoration-none">support@gmail.com</a></strong>
                                        </div>
                                    </li>
                                </ul> *@

                            </div>
                        </div>
                        <div class="header-column justify-content-end">
                            <div class="header-row"></div>
                        </div>
                    </div>
                </div>
                <div class="header-nav-bar header-nav-bar-top-border bg-light p-relative z-index-1">
                    <div class="header-container container">
                        <div class="header-row">
                            <div class="header-column">
                                <div class="header-row justify-content-end">
                                    <div class="header-nav header-nav-line header-nav-top-line header-nav-top-line-with-border justify-content-start" data-sticky-header-style="{'minResolution': 991}" data-sticky-header-style-active="{'margin-left': '105px'}" data-sticky-header-style-deactive="{'margin-left': '0'}">
                                        <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-3 header-nav-main-sub-effect-1 w-100">
                                            <nav class="collapse w-100">
                                                <ul class="nav nav-pills w-100" id="mainNav">
                                                    <li class="dropdown">
                                                        <a class="dropdown-item dropdown-toggle" asp-area="" asp-controller="Home" asp-action="Index">
                                                            Trang chủ
                                                        </a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a class="dropdown-item dropdown-toggle" asp-area="" asp-controller="Home" asp-action="PageDetail" asp-route-seoKey="gioi-thieu">
                                                            Giới thiệu
                                                        </a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a class="dropdown-item dropdown-toggle" asp-area="" asp-controller="Home" asp-action="ProductCategory">
                                                            Sản phẩm
                                                        </a>
                                                    </li>
                                                    @foreach (var menuItem in menu?.Data)
                                                    {
                                                        var hasChild = menuItem.ChildModel?.Child?.Any() == true;
                                                        <li class="@(hasChild?"dropdown":"")">
                                                            <a class="dropdown-item dropdown-toggle" href="/@menuItem.PageKeyName">
                                                                @menuItem.Name
                                                            </a>
                                                            @if (hasChild)
                                                            {
                                                                <ul class="dropdown-menu">
                                                                    @foreach (var childItem in menuItem?.ChildModel?.Child)
                                                                    {
                                                                        <li>
                                                                            <a href="/@menuItem.PageKeyName/@childItem.GetDataSelectModel()?.PageKeyName" class="dropdown-item">
                                                                                @childItem.Label
                                                                            </a>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            }
                                                        </li>
                                                    }
                                                    <li class="dropdown">
                                                        <a class="dropdown-item dropdown-toggle" asp-area="" asp-controller="Home" asp-action="Contact">
                                                            Liên hệ
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                    </div>
                                    <div class="feature-box feature-box-style-2 align-items-center ms-lg-4">
                                        <div class="feature-box-icon d-none d-sm-inline-flex">
                                            <img class="icon-animated" width="48" src="/img/demos/cleaning-services/icons/phone.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-tertiary position-relative bottom-3'}" />
                                        </div>
                                        <div class="feature-box-info ps-2">
                                            <p class="font-weight-semibold line-height-1 text-2 pb-0 mb-1">HOTLINE</p>
                                            <a href="tel:@phoneNumber" class="text-color-tertiary text-color-hover-primary text-decoration-none font-weight-bold line-height-1 custom-font-size-1 pb-0">@phoneNumber</a>
                                        </div>
                                    </div>
                                    <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
                                        <i class="fas fa-bars"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div role="main" class="main @(page?.MainClassName)">
            @RenderBody()
        </div>
        <footer id="footer" class="footer-texts-more-lighten mt-0">
            <div class="container pb-lg-4 pt-3">
                <div class="row pt-3">
                    <div class="col-lg-4">
                        <h4 class="text-4 text-color-light mb-3">VỀ CHÚNG TÔI</h4>
                        <p class="mb-3">@Html.Raw(footerDescription)</p>

                        <div class="d-flex align-items-center pt-2 pb-4">
                            <p class="d-inline-block mb-0 font-weight-bold line-height-1"></p>
                            <span class="font-weight-normal line-height-1 text-color-light">Theo dõi chúng tôi trên</span>
                        </div>

                        <ul class="social-icons social-icons-clean-with-border social-icons-medium">
                            <li class="social-icons-instagram">
                                <a href="@instagram" class="no-footer-css" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="social-icons-x mx-2">
                                <a href="@twitter" class="no-footer-css" target="_blank" title="Twitter"><i class="fab fa-x-twitter"></i></a>
                            </li>
                            <li class="social-icons-facebook">
                                <a href="@facebook" class="no-footer-css" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-lg-3 pt-4 pt-lg-0">
                        <h4 class="text-4 text-color-light mb-3">THÔNG TIN LIÊN HỆ</h4>
                        <ul class="list list-icons list-icons-lg">
                            <li class="mb-1"><i class="far fa-dot-circle text-color-primary"></i><p class="m-0">@address</p></li>
                            <li class="mb-1"><i class="fab fa-whatsapp text-color-primary"></i><p class="m-0"><a href="tel:@phoneNumberFooter">@phoneNumberFooter</a></p></li>
                            <li class="mb-1"><i class="far fa-envelope text-color-primary"></i><p class="m-0"><a href="mailto:@emailFooter">@emailFooter</a></p></li>
                        </ul>

                    </div>
                    <div class="col-sm-6 col-lg-2 pt-4 pt-lg-0">
                        <h4 class="text-4 text-color-light mb-3">HỖ TRỢ</h4>
                        <ul class="list list-unstyled">
                            <li><a href="demo-accounting-1-services-details.html?colorPrimary=FFC8BD&amp;colorSecondary=FE4A23&amp;colorTertiary=010A44&amp;colorQuaternary=FEF2ED&amp;showStyleSwitcher=true&amp;hideStyleSwitcherAfterShow=true&amp;addImagesSuffix=true&amp;addURLParams=true&amp;showOnLoad=false" class="text-color-grey text-color-hover-primary">Accounting</a></li>
                            <li><a href="demo-accounting-1-services-details.html?colorPrimary=FFC8BD&amp;colorSecondary=FE4A23&amp;colorTertiary=010A44&amp;colorQuaternary=FEF2ED&amp;showStyleSwitcher=true&amp;hideStyleSwitcherAfterShow=true&amp;addImagesSuffix=true&amp;addURLParams=true&amp;showOnLoad=false" class="text-color-grey text-color-hover-primary">Tax Planning</a></li>
                            <li><a href="demo-accounting-1-services-details.html?colorPrimary=FFC8BD&amp;colorSecondary=FE4A23&amp;colorTertiary=010A44&amp;colorQuaternary=FEF2ED&amp;showStyleSwitcher=true&amp;hideStyleSwitcherAfterShow=true&amp;addImagesSuffix=true&amp;addURLParams=true&amp;showOnLoad=false" class="text-color-grey text-color-hover-primary">Business Advisory</a></li>
                            <li><a href="demo-accounting-1-services-details.html?colorPrimary=FFC8BD&amp;colorSecondary=FE4A23&amp;colorTertiary=010A44&amp;colorQuaternary=FEF2ED&amp;showStyleSwitcher=true&amp;hideStyleSwitcherAfterShow=true&amp;addImagesSuffix=true&amp;addURLParams=true&amp;showOnLoad=false" class="text-color-grey text-color-hover-primary">Payroll Management</a></li>


                        </ul>
                    </div>
                    <div class="col-lg-3 pt-4 pt-lg-0">
                        <h4 class="text-4 text-color-light mb-3">ĐĂNG KÝ NHẬN TIN</h4>

                        <div class="alert alert-success d-none" id="newsletterSuccess">
                            <strong>Success!</strong> You've been added to our email list.
                        </div>
                        <div class="alert alert-danger d-none" id="newsletterError"></div>
                        <form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST" class="mb-0" novalidate="novalidate">
                            <div class="row">
                                <div class="form-group col">
                                    <div class="position-relative">
                                        <i class="icons icon-envelope text-color-grey bg-light text-3-5 position-absolute right-15 top-50pct transform3dy-n50"></i>
                                        <input type="email" value="" placeholder="Enter your e-mail" class="form-control form-control-icon text-3 h-auto border-width-2 border-radius-2 border-color-grey-200 py-2" name="newsletterEmail" id="newsletterEmail">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                        </form>

                        <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaIx9SeDfR-iQVBq_dCL4zSEfxWGT-_P1l-A&amp;s">
                    </div>
                </div>
            </div>
            <div class="footer-copyright bg-transparent">
                <div class="container">
                    <div class="row footer-copyright footer-copyright-style-2 pt-2 pb-2">
                        <div class="col-lg-12 text-center">
                            <p class="text-3 mb-0 opacity-6">@Html.Raw(copyrightFooter)</p>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        l
    </div>

    <!-- Vendor -->
    <script src="~/vendor/plugins/js/plugins.min.js"></script>
    <script src="~/vendor/bootstrap-star-rating/js/star-rating.min.js"></script>
    <script src="~/vendor/bootstrap-star-rating/themes/krajee-fas/theme.min.js"></script>
    <script src="~/vendor/jquery.countdown/jquery.countdown.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/js/theme.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="~/js/views/view.shop.js"></script>

    <!-- Theme Custom -->
    <script src="~/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/js/theme.init.js"></script>

    <!-- Examples -->
    <script src="js/examples/examples.gallery.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
