@inject IPageAppService _pageService
@inject IProductCategoryAppService _productCategoryAppService
@inject IProductAppService _productAppService
@inject IServiceAppService _serviceAppService
@inject INewsAppService _newsAppService
@{
    ViewData["Page"] = new PageModel() { Title = "Trang chủ", Description = "Mô ta seo trang chủ", BodyClassName = "shop p-index", MainClassName = "" };

    var pageId = PredefineDataConst.PageId.Key.TrangChu.GetGuid();
    var pageConfigs = (await _pageService.GetConfigByPageAsync(pageId))?.Data;
    //1. banner slider
    var carouselSliderCF = pageConfigs?.FirstOrDefault(x => x.Name == PredefineDataConst.PageConfigurationName.Key.CarouselSlider);
    var bannerModel = carouselSliderCF?.Value?.DocumentToObject<List<PCCarouselSliderValueModel>>(null)?.Select(x => new BaseCarouselItemModel()
            {
                Title = x.Title,
                Image = x.Image
            }).ToList();
    //2. category feature
    var productCategoryResponse = await _productCategoryAppService.GetByShowHomeAsync();
    var productCategoryModel = productCategoryResponse?.Data?.Select(x => new CategoryTitleMediaComponent()
            {
                Group = new BaseMediaLinkModel($"{x.ParentIdModel?.Label}", string.Format(RouteConst.GetRoute(RouteConst.CategoryOfProductDetail), $"{x.ParentIdModel?.Key}")),
                Href = string.Format(RouteConst.GetRoute(RouteConst.ProductCategory), x.PageKeyName),
                Media = x?.Image?.Path,
                Id = x.Id,
                Title = x.Name,
            });

    //3.1 get category feature ,2 then  product feature by 3.1
    var productCategoryTopLevelResponse = await _productCategoryAppService.GetAllTopLevelShowHomeAsync();
    var productCategoryIds = new List<Guid>();
    foreach (var item in productCategoryTopLevelResponse.Data)
    {
        productCategoryIds.Add(item.Id);
        productCategoryIds.AddRange(item.ChildModel?.GetAllId());
    }

    var producByCategoryFeatureRequest = new ProductPagingRequest();
    producByCategoryFeatureRequest.Featured = true;
    producByCategoryFeatureRequest.PageSize = 100;
    if (productCategoryIds?.Any() == true)
        producByCategoryFeatureRequest.SetCategory(productCategoryIds);
    var producByCategoryFeatureResponse = await _productAppService.GetPagingAsync(producByCategoryFeatureRequest, CancellationToken.None);
    var producByCategoryFeatureResponseData = producByCategoryFeatureResponse?.Data;
    //4. service feature
    var serviceFeatureResponse = await _serviceAppService.GetFeatureAsync(6, CancellationToken.None);
    var serviceFeatureModel = new ArticleTitleLinksComponent()
            {
                Title = "Dịch vụ nổi bật",
                Links = serviceFeatureResponse?.Data?.Select(x => new BaseArticleItemModel()
                {
                    CreatedAt = x.CreatedAt,
                    CreatedBy = new BaseMediaLinkModel($"{x.CreatedByModel?.Label}", $"{x.CreatedByModel?.Key}"),
                    ShortDescription = x.ShortDescription,
                    Group = new BaseMediaLinkModel($"{x.ParentIdModel?.Label}", $"{x.ParentIdModel?.Key}"),
                    Href = string.Format(RouteConst.GetRoute(RouteConst.ServiceDetail), x.PageKeyName),
                    Media = x?.Image?.Path,
                    Id = x.Id,
                    Title = x.Name,
                }).ToList()
            };
            //5. news feature
    var newsFeatureResponse = await _newsAppService.GetFeatureAsync(6, CancellationToken.None);
    var newsFeatureModel = new ArticleTitleLinksComponent()
            {
                Title = "Tin tức nổi bật",
                Links = newsFeatureResponse?.Data?.Select(x => new BaseArticleItemModel()
                {
                    CreatedAt = x.CreatedAt,
                    CreatedBy = new BaseMediaLinkModel($"{x.CreatedByModel?.Label}", $"{x.CreatedByModel?.Key}"),
                    ShortDescription = x.ShortDescription,
                    Group = new BaseMediaLinkModel($"{x.ParentIdModel?.Label}", $"{x.ParentIdModel?.Key}"),
                    Href = string.Format(RouteConst.GetRoute(RouteConst.ServiceDetail), x.PageKeyName),
                    Media = x?.Image?.Path,
                    Id = x.Id,
                    Title = x.Name,
                }).ToList()
            };

    //6. terminal
    var testimonialModel = new List<BaseCarouselItemModel>();
}
<div class="container">
    <div class="row">
        <div class="col">
            @await Component.InvokeAsync("Carousel", new ViewComponentModel<CarouselSettingModel, List<BaseCarouselItemModel>>(new CarouselSettingModel
       {
           AppearAnimation = "fadeInDownShorter",
           AppearAnimationDelay = 500,
           Option = new CarouselSettingOptionModel
           {
               Items = 1,
               Nav = true,
               AnimateOut = "animateOut",
               Dots = false,
               Loop = true,
           }
       }, bannerModel))
        </div>
    </div>
</div>

<!-- danh mục sản phẩm-->
@if (productCategoryModel?.Any() == true)
{
    <div class="container">
        <div class="row">
            <div class="col categories">
                <div class="owl-carousel owl-theme show-nav-hover" data-plugin-options="{'items': 4, 'margin': 20, 'loop': false,'nav': true, 'dots': false}">
                    @foreach (var item in productCategoryModel)
                    {
                        @await Html.PartialAsync("~/Views/Shared/Components/Common/CategoryTitleMedia.cshtml", item)
                    }
                </div>
            </div>
        </div>
    </div>
}

<!-- sản phẩm-->
@if (productCategoryTopLevelResponse?.Data?.Any() == true)
{
    <div class="container">
        @foreach (var item in productCategoryTopLevelResponse.Data)
        {
            var productsModel = new ProductTitleLinksComponent();
            productsModel.Title = item.Name;
            productsModel.Link = new BaseMediaLinkModel(item.Name, string.Format(RouteConst.GetRoute(RouteConst.CategoryOfProductDetail), item.PageKeyName));
            productsModel.Links = producByCategoryFeatureResponseData?.Items?.Where(x => x.ProductCategory == item.Id || (item.ChildModel?.GetAllId()?.Contains(x.Id) == true)).Select(x => new BaseProductItemModel(x)).Take(5).ToList();
            // productsModel.Links = new List<BaseProductItemModel>();
            //         for (int x = 0; x < 5; x++)
            //         {
            //             productsModel.Links.Add(new BaseProductItemModel()

            //                     {
            //                         Id = Guid.NewGuid(),
            //                         Title = "Contactor LC1D09M7 Schneider  " + x + 1,
            //                         Price = x + 1,
            //                         Sale = x * 2 + 1,
            //                         Sku = "sku" + x + 1,
            //                         Href = "/Home/ProductDetail",
            //                         Media = "https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg",
            //                         Group = new BaseMediaLinkModel("Danh mục con", "/Home/Product"),
            //                         CreatedAt = CommonHelper.GetCurrent(),
            //                         DisplayContact = true,
            //                         DisplayPrice = false,
            //                         DisplaySale = true,
            //                         Attributes = new List<BaseAttributeItemModel>
            //                     ()
            // {
            // new BaseAttributeItemModel("Loại sản phẩm", "Contactor", "product-type"),
            // new BaseAttributeItemModel("Số cực","P", "number"),
            // new BaseAttributeItemModel("Dòng tiếp điểm",  "9A", "dong-tiep-dan"),
            // new BaseAttributeItemModel("Tiếp điểm phụ", "1NO+1NC", "tiep-diem-phu"),

            // }
            //                     });
            //         }

            <div class="card mb-4">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-sm-3  pe-0">
                            <div class="card border-0 border-radius-0 bg-color-primary text-center h-100">
                                <div class="card-body align-items-center align-content-center p-0">
                                    <img class="img-fluid" src="@(item.Image?.Path)" alt="@productsModel.Title">
                                </div>
                                <div class="card-footer bg-color-grey">
                                    <a href="@productsModel.Link" class="btn btn-arrow-effect-1 text-uppercase bg-transparent text-primary border-0 p-0">Xem thêm<i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="row products mt-3">
                                <div class="col">
                                    @await Html.PartialAsync("~/Views/Shared/Components/Common/SliderProductTitleList.cshtml", productsModel)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

<!-- dịch vụ nổi bật -->

<div class="bg-color-grey-100">
    <div class="container py-5">
        @await Html.PartialAsync("~/Views/Shared/Components/Common/ArticleTitleListStyle3.cshtml", serviceFeatureModel)
        <div class="row mt-3">
            <div class="col col text-center">
                <a href="@Url.Action("Service","Home")" class="btn btn-modern btn-rounded btn-primary btn-outline btn-arrow-effect-1">Tất cả dịch vụ<i class="fas fa-arrow-right ms-2"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- Vì sao  chọn chúng tôi-->
<div class="container">
    <div class="row pt-5">
        <div class="col-lg-8">
            <h2 class="font-weight-normal text-7">Vì sao <strong class="font-weight-extra-bold">khách hàng</strong> chọn chúng tôi</h2>
            <p><span class="alternative-font">tên công ty</span> là nhà cung cấp thiết bị, giải pháp tự động hóa và tích hợp robot công nghiệp hàng đầu tại Việt Nam. Chúng tôi có hơn 200.000 sản phẩm được chỉ định là nhà phân phối của các thương hiệu: Schneider Electric, Autonics, Omron, Hanyoung, Patlite, LS, Delta, Siemens, Idec,...</p>
            <div class="row">
                <div class="col-sm-6">
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-support text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4-5 mb-1">Đội ngũ nhân viên</h4>
                            <p class="mb-4">Đội ngũ nhân viên của <span class="alternative-font">tên công ty</span> chuyên nghiệp, trẻ đẹp. Được đào tạo từ những ....</p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-social-google text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4-5 mb-1">Phục vụ 24/7</h4>
                            <p class="mb-4">Luôn luôn lắng nghe và thấu hiểu, luôn luôn phục vụ khách hàng mọi lúc, mọi nơi....</p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-social-google text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4-5 mb-1">Uy tín và chất lượng</h4>
                            <p class="mb-4">Hơn 1000 khách hàng, đối tác của <span class="alternative-font">tên công ty</span> luôn tin tưởng vì....</p>
                        </div>
                    </div>



                </div>
                <div class="col-sm-6">
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-screen-desktop text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4-5 mb-1">Sản phẩm chính hãng</h4>
                            <p class="mb-4">Với lương tâm của một con người, <span class="alternative-font">tên công ty</span> xin cam kết sản phẩm chính hãng</p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-pencil text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4-5 mb-1">Giá cả phải chăng</h4>
                            <p class="mb-4">Vì mục đích và nhu cầu của quý khách hàng là ưu tiên hàng đầu của chúng tôi, thế nên giá cả cũng phải...</p>
                        </div>
                    </div>
                    <div class="feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <i class="icons icon-pencil text-color-primary"></i>
                        </div>
                        <div class="feature-box-info">
                            <h4 class="font-weight-bold text-4-5 mb-1">Hoàn trả 100%</h4>
                            <p class="mb-4">Vì mục đích và nhu cầu của khách hàng là ưu tiên hàng đầu...</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <h2 class="font-weight-normal text-6">Về chúng tôi</h2>

            <div class="accordion accordion-modern" id="accordion">
                <div class="card card-default">
                    <div class="card-header">
                        <h4 class="card-title m-0">
                            <a class="accordion-toggle text-color-dark font-weight-bold" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseOne">
                                <i class="icons icon-diamond text-color-primary"></i>
                                Địa chỉ
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="collapse show">
                        <div class="card-body text-2">
                            <ul class="list list-icons list-icons-style-3">
                                <li><i class="fas fa-map-marker-alt"></i> <strong>Address:</strong> Melbourne, 121 King St, Australia</li>
                                <li><i class="fas fa-phone"></i> <strong>Phone:</strong> (123) 456-789</li>
                                <li><i class="far fa-envelope"></i> <strong>Email:</strong> <a href="/cdn-cgi/l/email-protection#cea3afa7a28eabb6afa3bea2abe0ada1a3"><span class="__cf_email__" data-cfemail="b3ded2dadff3d6cbd2dec3dfd69dd0dcde">[email&#160;protected]</span></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        <h4 class="card-title m-0">
                            <a class="accordion-toggle text-color-dark font-weight-bold" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseTwo">
                                <i class="icons icon-bubble text-color-primary"></i>
                                Liên hệ
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="collapse">
                        <div class="card-body text-2">
                            <p>Contact us or give us a call to discover how we can help.</p>
                            <form class="contact-form" action="php/contact-form.php" method="POST">
                                <div class="contact-form-success alert alert-success d-none mt-4">
                                    <strong>Success!</strong> Your message has been sent to us.
                                </div>
                                <div class="contact-form-error alert alert-danger d-none mt-4">
                                    <strong>Error!</strong> There was an error sending your message.
                                    <span class="mail-error-message text-1 d-block"></span>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label required text-1 mb-0">Full Name</label>
                                        <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label required text-1 mb-0">Email Address</label>
                                        <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label required text-1 mb-0">Message</label>
                                        <textarea maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" name="message" required></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <input type="submit" value="Send Message" class="btn btn-primary btn-modern" data-loading-text="Loading...">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header">
                        <h4 class="card-title m-0">
                            <a class="accordion-toggle text-color-dark font-weight-bold" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapseThree">
                                <i class="icons icon-grid text-color-primary"></i>
                                Thời gian làm việc
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="collapse">
                        <div class="card-body text-2">
                            <ul class="list list-icons list-dark">
                                <li><i class="far fa-clock"></i> Monday - Friday - 9am to 5pm</li>
                                <li><i class="far fa-clock"></i> Saturday - 9am to 2pm</li>
                                <li><i class="far fa-clock"></i> Sunday - Closed</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="solid my-3">

    <div class="row text-center pt-4">
        <div class="col">
            <h2 class="word-rotator slide font-weight-bold text-8 mb-2">
                <span>Hơn 1000 </span>
                <span class="word-rotator-words bg-primary">
                    <b class="is-visible">khách hàng</b>
                    <b>nhà phân phối</b>
                    <b>đại lý</b>
                </span>
                <span> của chúng tôi</span>
            </h2>
            @* <h4 class="text-primary lead tall text-4">50,000 CUSTOMERS IN 100 COUNTRIES USE PORTO TEMPLATE. MEET OUR CUSTOMERS.</h4> *@
        </div>
    </div>

    <div class="row text-center mt-1">
        <div class="owl-carousel owl-theme carousel-center-active-item" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/uploads/logo-web-02-1.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-23.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-24.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-25.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-26.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-27.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-28.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-29.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-38.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-40.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-30.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-31.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-32.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-33.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-34.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-35.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-36.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-37.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-41.png" alt="">
            </div>
            <div>
                <img class="img-fluid" src="https://img.hoplongtech.com/hoplong/logo-hang/hang-new/logo-web-39.png" alt="">
            </div>
        </div>
    </div>

</div>

<!-- new feature and  testimonial-->
@* <section class="section section-custom-map appear-animation lazyload mt-0 p-0" data-appear-animation="fadeInUpShorter" data-src-bg="img/map.png" style="background-color: transparent; background-position: center 0; background-repeat: no-repeat;">
    <section class="section section-default section-footer py-1">
        <div class="container">
            <div class="row mt-5 appear-animation" data-appear-animation="fadeInUpShorter">
                <div class="col-lg-6">
                    <div class="recent-posts mb-5">
                        <h2 class="font-weight-normal text-6 mb-4">Tin tức <strong class="font-weight-extra-bold">nổi bật</strong> </h2>
                        <div class="owl-carousel owl-theme dots-title mb-0" data-plugin-options="{'items': 1, 'autoHeight': true, 'autoplay': true, 'autoplayTimeout': 8000}">
                            @foreach (var item in newsFeatureModel.Links)
                            {
                                <div class="row">
                                    <div class="col-lg-6 mb-4 mb-lg-0">
                                        <article>
                                            <div class="row">
                                                <div class="col-auto pe-0">
                                                    <div class="date">
                                                        <span class="day font-weight-extra-bold">15</span>
                                                        <span class="month text-1">JAN</span>
                                                    </div>
                                                </div>
                                                <div class="col ps-1">
                                                    <h4 class="text-primary text-4"><a class="d-block" href="@item.Href">@item.Title</a></h4>
                                                    <p class="pe-4 mb-0">@item.ShortDescription</p>
                                                    <a href="@item.Href" class="read-more text-color-dark font-weight-semibold text-2">Chi tiết <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-lg-6">
                                        <article>
                                            <div class="row">
                                                <div class="col-auto pe-0">
                                                    <div class="date">
                                                        <span class="day font-weight-extra-bold">14</span>
                                                        <span class="month text-1">JAN</span>
                                                    </div>
                                                </div>
                                                <div class="col ps-1">
                                                    <h4 class="text-primary text-4"><a class="d-block" href="blog-post.html">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                    <p class="pe-4 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    <a href="/" class="read-more text-color-dark font-weight-semibold text-2">read more <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            }
                          
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    @await Component.InvokeAsync("Testimonial", new ViewComponentModel<CarouselSettingModel, List<BaseCarouselItemModel>>(new CarouselSettingModel
               {
                   Option = new CarouselSettingOptionModel
                   {
                       Items = 1,
                       Nav = false
                   }
               }, "Blockquote"))

                </div>
            </div>
        </div>
    </section>
</section>
 *@