@model ProductTitleMediaDetailComponent
@inject IProductAppService _service
@{
    var relativeResponse = await _service.GetRelativeAsync(Model.Id, CancellationToken.None);
    var relativeModel = new ArticleTitleLinksComponent()
            {
                Title = "Dịch vụ khác",
                Links = relativeResponse?.Data?.Select(x => new BaseArticleItemModel()
                {
                    CreatedAt = x.CreatedAt,
                    CreatedBy = new BaseMediaLinkModel($"{x.CreatedByModel?.Label}", $"{x.CreatedByModel?.Key}"),
                    ShortDescription = x.ShortDescription,
                    Group = new BaseMediaLinkModel($"{x.ProductCategoryModel?.Label}", $"{x.ProductCategoryModel?.Key}"),
                    Href = string.Format(RouteConst.GetRoute(RouteConst.ServiceDetail), x.PageKeyName),
                    Media = x?.Image?.Path,
                    Id = x.Id,
                    Title = x.Name,
                }).ToList()
            };
    var pageModel = new PageModel() { Title = "Sản phẩm", Description = "Mô ta seo sản phẩm", BodyClassName = "p-product-detail", MainClassName = "shop" }; ;
    ViewData["Page"] = pageModel;
    var breadcrumbModel = new BreadcrumbComponent(pageModel.Title, new List<BaseLinkModel>()
    {
        new BaseLinkModel("Trang chủ","/"),
        new BaseLinkModel("Sản phẩm","/Home/Product"),
        new BaseLinkModel("Cảm biến","/Home/ProductCategory"),
        new BaseLinkModel("Cảm biến tiệm cận","/Home/ProductCategoryDetail")
    });
    breadcrumbModel.LastIsSpan = false;
    var sideBarCategoryModel = new CategoryTitleLinksComponent("Danh mục", new List<BaseCategoryItemModel>
{
    new BaseCategoryItemModel(Guid.NewGuid(), "Cảm biến", "/category/cam-bien", new List<BaseCategoryItemModel>
    {
        new BaseCategoryItemModel(Guid.NewGuid(), "Cảm biến tiệm cận", "/category/cam-bien-tiem-can"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Cảm biến quang", "/category/cam-bien-quang"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Cảm biến sợi quang", "/category/cam-bien-soi-quang"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Cảm biến cửa", "/category/cam-bien-cua"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Cảm biến vùng", "/category/cam-bien-vung"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Cảm biến hình ảnh", "/category/cam-bien-hinh-anh"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Cảm biến áp suất", "/category/cam-bien-ap-suat"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Cảm biến đo lường", "/category/cam-bien-do-luong"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Bộ mã hóa vòng quay / Encoder", "/category/bo-ma-hoa-vong-quay-encoder"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Bộ điều khiển cảm biến", "/category/bo-dieu-khien-cam-bien")
    }),
    new BaseCategoryItemModel(Guid.NewGuid(), "Chuyển mạch/ Nút nhấn", "/category/chuyen-mach-nut-nhan", new List<BaseCategoryItemModel>
    {
        new BaseCategoryItemModel(Guid.NewGuid(), "Chuyển mạch 2-3 vị trí", "/category/chuyen-mach-2-3-vi-tri"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Chuyển mạch có khóa", "/category/chuyen-mach-co-khoa"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Cần gạt 2-4 hướng", "/category/can-gat-2-4-huong"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Chuyển mạch khác", "/category/chuyen-mach-khac"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Nút nhấn", "/category/nut-nhan")
    }),
    new BaseCategoryItemModel(Guid.NewGuid(), "Đèn báo", "/category/den-bao", new List<BaseCategoryItemModel>
    {
        new BaseCategoryItemModel(Guid.NewGuid(), "Đèn báo panel tròn", "/category/den-bao-panel-tron"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Đèn báo panel khối", "/category/den-bao-panel-khoi"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Đèn báo tháp", "/category/den-bao-thap"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Đèn báo quay", "/category/den-bao-quay"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Đèn báo khác", "/category/den-bao-khac")
    }),
    new BaseCategoryItemModel(Guid.NewGuid(), "Đồng hồ đo", "/category/dong-ho-do", new List<BaseCategoryItemModel>
    {
        new BaseCategoryItemModel(Guid.NewGuid(), "Đồng hồ Counter", "/category/dong-ho-counter"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Đồng hồ Timer", "/category/dong-ho-timer"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Đồng hồ Counter/ Timer", "/category/dong-ho-counter-timer"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Đồng hồ đo xung/ tốc độ", "/category/dong-ho-do-xung-toc-do"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Đồng hồ đo hiển thị số", "/category/dong-ho-do-hien-thi-so"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Đồng hồ đo giám sát điện năng", "/category/dong-ho-do-giam-sat-dien-nang"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Đồng hồ đo điện năng", "/category/dong-ho-do-dien-nang")
    }),
    new BaseCategoryItemModel(Guid.NewGuid(), "Bộ điều khiển nhiệt độ", "/category/bo-dieu-khien-nhiet-do", new List<BaseCategoryItemModel>
    {
        new BaseCategoryItemModel(Guid.NewGuid(), "Đồng hồ nhiệt độ", "/category/dong-ho-nhiet-do"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Bộ transmitter nhiệt độ", "/category/bo-transmitter-nhiet-do"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Can nhiệt", "/category/can-nhiet"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Cảm biến mưa, nhiệt độ, độ ẩm", "/category/cam-bien-mua-nhiet-do-do-am"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Bộ ghi dữ liệu nhiệt độ", "/category/bo-ghi-du-lieu-nhiet-do")
    }),
    new BaseCategoryItemModel(Guid.NewGuid(), "Biến tần", "/category/bien-tan", new List<BaseCategoryItemModel>
    {
        new BaseCategoryItemModel(Guid.NewGuid(), "Biến tần hạ thế", "/category/bien-tan-ha-the"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Biến tần trung thế", "/category/bien-tan-trung-the")
    }),
    new BaseCategoryItemModel(Guid.NewGuid(), "Khởi động mềm", "/category/khoi-dong-mem", new List<BaseCategoryItemModel>
    {
        new BaseCategoryItemModel(Guid.NewGuid(), "Khởi động mềm 1 phase", "/category/khoi-dong-mem-1-phase"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Khởi động mềm 3 phase", "/category/khoi-dong-mem-3-phase")
    }),
    new BaseCategoryItemModel(Guid.NewGuid(), "PLC/ HMI", "/category/plc-hmi", new List<BaseCategoryItemModel>
    {
        new BaseCategoryItemModel(Guid.NewGuid(), "PLC", "/category/plc"),
        new BaseCategoryItemModel(Guid.NewGuid(), "HMI", "/category/hmi")
    }),
    new BaseCategoryItemModel(Guid.NewGuid(), "Relay", "/category/relay", new List<BaseCategoryItemModel>
    {
        new BaseCategoryItemModel(Guid.NewGuid(), "Relay trung gian", "/category/relay-trung-gian"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Relay trung gian bán dẫn", "/category/relay-trung-gian-ban-dan"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Relay bán dẫn", "/category/relay-ban-dan"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Relay luân phiên", "/category/relay-luan-phien"),
        new BaseCategoryItemModel(Guid.NewGuid(), "I/O Relay Terminal", "/category/i-o-relay-terminal"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Relay điều khiển mức", "/category/relay-die-u-khie-n-mu-c"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Relay an toàn", "/category/relay-an-toan"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Relay Terminal", "/category/relay-terminal")
    }),
    new BaseCategoryItemModel(Guid.NewGuid(), "Thiết bị đóng cắt", "/category/thiet-bi-dong-cat", new List<BaseCategoryItemModel>
    {
        new BaseCategoryItemModel(Guid.NewGuid(), "MCB Cầu dao tự động - dạng cài", "/category/mcb-cau-dao-tu-dong-dang-cai"),
        new BaseCategoryItemModel(Guid.NewGuid(), "RCCB Cầu dao chống dòng rò - dạng cài", "/category/rccb-cau-dao-chong-dong-ro-dang-cai"),
        new BaseCategoryItemModel(Guid.NewGuid(), "RCBO Cầu dao tích hợp chống dòng rò - dạng cài", "/category/rcbo-cau-dao-tich-hop-chong-dong-ro-dang-cai"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Cầu dao chống sét - dạng cài", "/category/cau-dao-chong-set-dang-cai"),
        new BaseCategoryItemModel(Guid.NewGuid(), "MCCB Cầu dao tự động - dạng khối", "/category/mccb-cau-dao-tu-dong-dang-khoi"),
        new BaseCategoryItemModel(Guid.NewGuid(), "MCCB Cầu dao tự động - dạng khối (Loại chỉnh dòng)", "/category/mccb-cau-dao-tu-dong-dang-khoi-loai-chinh-dong"),
        new BaseCategoryItemModel(Guid.NewGuid(), "ELCB Cầu dao chống dòng rò - dạng khối", "/category/elcb-cau-dao-chong-dong-ro-dang-khoi"),
        new BaseCategoryItemModel(Guid.NewGuid(), "ACB Máy cắt khí", "/category/acb-may-cat-khi"),
        new BaseCategoryItemModel(Guid.NewGuid(), "MotorCB Cầu dao bảo vệ motor - dạng khối", "/category/motorcb-cau-dao-bao-ve-motor-dang-khoi"),
        new BaseCategoryItemModel(Guid.NewGuid(), "CB Máy cắt", "/category/cb-may-cat"),
        new BaseCategoryItemModel(Guid.NewGuid(), "ATS Compact (MCCB/CB)", "/category/ats-compact-mccb-cb"),
        new BaseCategoryItemModel(Guid.NewGuid(), "ATS Masterpact (ACB)", "/category/ats-masterpact-acb"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Contactor", "/category/contactor"),
        new BaseCategoryItemModel(Guid.NewGuid(), "Relay nhiệt", "/category/relay-nhiet"),
        new BaseCategoryItemModel(Guid.NewGuid(), "CP Cầu dao tự động", "/category/cp-cau-dao-tu-dong")
    })
});
}
@* @(await Html.PartialAsync("~/Views/Shared/Components/Common/Breadcrumb.cshtml", breadcrumbModel)) *@
@(await Html.PartialAsync("~/Views/Shared/Components/Common/BreadcrumbStyle2.cshtml", breadcrumbModel))
<div class="container py-4">
    @*  <div class="row">
        <div class="col">
            <ul class="breadcrumb breadcrumb-style-2 d-block text-4 mb-4">
                <li><a href="#" class="text-color-default text-color-hover-primary text-decoration-none">Trang chủ</a></li>
                <li><a href="#" class="text-color-default text-color-hover-primary text-decoration-none">Cảm biến</a></li>
                <li>Cảm biến tiệm cận</li>
            </ul>
        </div>
    </div> *@
    <div class="card border-radius-2 bg-color-light border-0 box-shadow-1 mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-5 mb-5 mb-md-0">

                    <div class="thumb-gallery-wrapper lightbox" data-plugin-options="{'delegate': 'a.shop-gallery', 'type': 'image', 'gallery': {'enabled': true}, 'mainClass': 'mfp-with-zoom', 'zoom': {'enabled': true, 'duration': 300}}">
                        <div class="thumb-gallery-detail owl-carousel owl-theme manual nav-inside nav-style-1 nav-dark mb-3">
                            <div>
                                <a href="https://www.portotheme.com/wordpress/porto/studio/wp-content/uploads/sites/90/2021/05/Apple-iPad-9th-1-600x600.jpg" class="shop-gallery" title=""><img alt="" class="img-fluid" src="https://www.portotheme.com/wordpress/porto/studio/wp-content/uploads/sites/90/2021/05/Apple-iPad-9th-1-600x600.jpg"></a>
                            </div>
                            <div>
                                <a href="https://www.portotheme.com/wordpress/porto/studio/wp-content/uploads/sites/90/2021/05/Apple-iPad-9th-1-600x600.jpg" class="shop-gallery" title=""><img alt="" class="img-fluid" src="https://www.portotheme.com/wordpress/porto/studio/wp-content/uploads/sites/90/2021/05/Apple-iPad-9th-1-600x600.jpg"></a>
                            </div>
                            <div>
                                <a href="https://www.portotheme.com/wordpress/porto/studio/wp-content/uploads/sites/90/2021/05/Apple-iPad-9th-1-600x600.jpg" class="shop-gallery" title=""><img alt="" class="img-fluid" src="https://www.portotheme.com/wordpress/porto/studio/wp-content/uploads/sites/90/2021/05/Apple-iPad-9th-3-600x600.jpg"></a>
                            </div>
                            <div>
                                <a href="https://www.portotheme.com/wordpress/porto/studio/wp-content/uploads/sites/90/2021/05/Apple-iPad-9th-1-600x600.jpg" class="shop-gallery" title=""><img alt="" class="img-fluid" src="https://www.portotheme.com/wordpress/porto/studio/wp-content/uploads/sites/90/2021/05/Apple-iPad-9th-3-600x600.jpg"></a>
                            </div>
                            <div>
                                <a href="https://www.portotheme.com/wordpress/porto/studio/wp-content/uploads/sites/90/2021/05/Apple-iPad-9th-1-600x600.jpg" class="shop-gallery" title=""><img alt="" class="img-fluid" src="https://www.portotheme.com/wordpress/porto/studio/wp-content/uploads/sites/90/2021/05/Apple-iPad-9th-3-600x600.jpg"></a>
                            </div>
                        </div>
                        <div class="thumb-gallery-thumbs owl-carousel owl-theme manual thumb-gallery-thumbs">
                            <div class="cur-pointer">
                                <img alt="" class="img-fluid" src="https://www.portotheme.com/wordpress/porto/studio/wp-content/uploads/sites/90/2021/05/Apple-iPad-9th-1-600x600.jpg">
                            </div>
                            <div class="cur-pointer">
                                <img alt="" class="img-fluid" src="https://www.portotheme.com/wordpress/porto/studio/wp-content/uploads/sites/90/2021/05/Apple-iPad-9th-1-600x600.jpg">
                            </div>
                            <div class="cur-pointer">
                                <img alt="" class="img-fluid" src="https://www.portotheme.com/wordpress/porto/studio/wp-content/uploads/sites/90/2021/05/Apple-iPad-9th-3-600x600.jpg">
                            </div>
                            <div class="cur-pointer">
                                <img alt="" class="img-fluid" src="https://www.portotheme.com/wordpress/porto/studio/wp-content/uploads/sites/90/2021/05/Apple-iPad-9th-3-600x600.jpg">
                            </div>
                            <div class="cur-pointer">
                                <img alt="" class="img-fluid" src="https://www.portotheme.com/wordpress/porto/studio/wp-content/uploads/sites/90/2021/05/Apple-iPad-9th-3-600x600.jpg">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-7">

                    <div class="summary entry-summary position-relative">

                        @* 	<div class="position-absolute top-0 right-0">
					<div class="products-navigation d-flex">
						<a href="#" class="prev text-decoration-none text-color-dark text-color-hover-primary border-color-hover-primary" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-original-title="Red Ladies Handbag"><i class="fas fa-chevron-left"></i></a>
						<a href="#" class="next text-decoration-none text-color-dark text-color-hover-primary border-color-hover-primary" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-original-title="Green Ladies Handbag"><i class="fas fa-chevron-right"></i></a>
					</div>
				</div>
 *@
                        <h1 class="mb-0 font-weight-bold text-7">@Model.Title</h1>

                        <div class="divider divider-small">
                            <hr class="bg-color-grey-400">
                        </div>

                        <p class="price mb-3">
                            @if (Model.DisplaySale)
                            {
                                <span class="sale text-color-dark">@Html.DisplayFor(x => Model.Sale)</span>
                            }
                            @if (Model.DisplayPrice)
                            {
                                <span class="amount">@Html.DisplayFor(x => Model.Price)</span>
                            }
                            @if (Model.DisplayContact)
                            {
                                <a href="#" class="btn btn-xs btn btn-secondary text-1 text-uppercase float-start"><i class="fas fa-phone position-relative"></i> Liên hệ</a>
                            }
                        </p>

                        <p class="text-3-5 mb-3">@Model.Description</p>

                        <ul class="list list-unstyled text-2">
                            <li class="mb-0">SKU: <strong class="text-color-dark">@Model.Sku</strong></li>
                            <li class="mb-0">Đường kính: <strong class="text-color-dark">18x18</strong></li>
                            <li class="mb-0">Khoảng cách phát hiện: <strong class="text-color-dark">8mm</strong></li>
                            <li class="mb-0">Kết nối: <strong class="text-color-dark">Loại cáp</strong></li>

                        </ul>


                        <div class="d-flex align-items-center">
                            <ul class="social-icons social-icons-medium social-icons-clean-with-border social-icons-clean-with-border-border-grey social-icons-clean-with-border-icon-dark me-3 mb-0">
                                <!-- Facebook -->
                                <li class="social-icons-facebook">
                                    <a href="http://www.facebook.com/sharer.php?u=https://www.okler.net" target="_blank" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top" title="Share On Facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <!-- Google+ -->
                                <li class="social-icons-googleplus">
                                    <a href="https://plus.google.com/share?url=https://www.okler.net" target="_blank" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top" title="Share On Google+">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <!-- Twitter -->
                                <li class="social-icons-x">
                                    <a href="https://twitter.com/share?url=https://www.okler.net&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top" title="Share On Twitter">
                                        <i class="fab fa-x-twitter"></i>
                                    </a>
                                </li>
                                <!-- Email -->
                                <li class="social-icons-email">
                                    <a href="mailto:?Subject=Share This Page&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://www.okler.net" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="top" title="Share By Email">
                                        <i class="far fa-envelope"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                </div>
            </div>

            <div class="row mb-4">
                <div class="col">
                    <div id="description" class="tabs tabs-simple tabs-simple-full-width-line tabs-product tabs-dark mb-2">
                        <ul class="nav nav-tabs justify-content-start">
                            <li class="nav-item"><a class="nav-link active font-weight-bold text-3 text-uppercase py-2 px-3" href="#productDescription" data-bs-toggle="tab">Mô tả</a></li>
                            <li class="nav-item"><a class="nav-link font-weight-bold text-3 text-uppercase py-2 px-3" href="#productInfo" data-bs-toggle="tab">Thuộc tính</a></li>
                            <li class="nav-item"><a class="nav-link font-weight-bold text-3 text-uppercase py-2 px-3" href="#technicalInfo" data-bs-toggle="tab">Thông số kỹ thuật</a></li>
                            <li class="nav-item"><a class="nav-link font-weight-bold text-3 text-uppercase py-2 px-3" href="#datasheetInfo" data-bs-toggle="tab">Tài liệu kỹ thuật</a></li>
                        </ul>
                        <div class="tab-content p-0">
                            <div class="tab-pane px-0 py-3 active" id="productDescription">
                                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis, massa fringilla consequat blandit, mauris ligula porta nisi, non tristique enim sapien vel nisl. Suspendisse vestibulum lobortis dapibus. </p>
                                <p class="m-0">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis, massa fringilla consequat blandit, mauris ligula porta nisi, non tristique enim sapien vel nisl. Suspendisse vestibulum lobortis dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                            </div>
                            <div class="tab-pane px-0 py-3" id="productInfo">
                                <table class="table table-striped m-0">
                                    <tbody>
                                        <tr>
                                            <th class="border-top-0">
                                                Size:
                                            </th>
                                            <td class="border-top-0">
                                                Unique
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Colors
                                            </th>
                                            <td>
                                                Red, Blue
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Material
                                            </th>
                                            <td>
                                                100% Leather
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @{
        var productsModel = new ProductTitleLinksComponent();
        productsModel.Title = "Sản phẩm cùng loại";
        productsModel.Links = new List<BaseProductItemModel>
        ();
        for (int x = 0; x < 5; x++)
        {
            productsModel.Links.Add(new BaseProductItemModel()

                {
                    Id = Guid.NewGuid(),
                    Title = "Contactor LC1D09M7 Schneider  " + x + 1,
                    Price = x + 1,
                    Sale = x * 2 + 1,
                    Sku = "sku" + x + 1,
                    Href = "/Home/ProductDetail",
                    Media = "https://img.hoplongtech.com/hoplong/thiet-bi-dong-cat/contactor/schneider-lc1d09-main.jpg",
                    Group = new BaseMediaLinkModel("Danh mục con", "/Home/Product"),
                    CreatedAt = CommonHelper.GetCurrent(),
                    DisplayContact = true,
                    DisplayPrice = false,
                    DisplaySale = true,
                });
        }

    }

    <div class="card border-radius-2 bg-color-light border-0 box-shadow-1 mb-4">
        <div class="card-body">
            @await Html.PartialAsync("~/Views/Shared/Components/Common/SliderProductTitleListStyle3.cshtml", productsModel)
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/examples/examples.gallery.js"></script>
}